<div class="container-fluid">
    <div class="row">

        <div class="col-6 rounded">
            <div>
                <div class="row" id="gettingOrderTag">Getting Your Order</div>
                <br>
                <div>Your Shipping Information </div> <br>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">FullName</label>
                            <input type="text" class="form-control" id="fullname" #fullname>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="email" #email>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="Address1" #Address1 placeholder="1234 Main St">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="inputAddress2" #Address2 placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="City" #City>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="State" #State class="form-control">
                      <option selected>Rajasthan</option>
                      <option >Maharashtra</option>
                      <option >Karnataka</option>
                      <option >Madhya Pradesh</option>
                      <option >Gujarat</option>
                      <option >Delhi</option>
                      <option >Assam</option>
                      <option >Tamil Nadu</option>
                     
                    </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="zip" #zip>
                        </div>

                    </div>
                    <div>
                        Payment:
                        <input class="form-control" type="text" placeholder="Cash On Delivery" readonly>
                    </div>

                    <div> <button type="submit" class="btn btn-primary" (click)="checkoutEventHandler(fullname.value,email.value,Address1.value,Address2.value,City.value,State.value,zip.value);">Buy</button></div>
                </form>
            </div>
        </div>

        <div class="col-4 rounded">

            <div class="row" id="gettingOrderTag">Your Order items:</div>
            <br> <br>
            <div class="row" id="prooductDisp">
                <div class="col">
                    <div *ngFor="let product of productArray">
                        <div class=" col-md-12 col-sm-12">
                            <p class=" ml-4"><span style="font-weight: bold;">{{product.pname}} {{product.brand}}</span> Rs {{product.price*product.quantity}}/- Quantity:{{product.quantity}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="totalbill">
                <h6>Total Without GST: <span> Rs{{total}}</span></h6>
                <h3>Total: Rs{{totalInclusiveOfGST}}--</h3>
            </div>

        </div>
    </div>
</div>